@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198,198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
}

.item {
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198,198, 0.36);
    border-radius: 20px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: #828282;
    text-align: center;
    cursor: grab;
        :active {
            cursor: grabbing
        }
}

.placeholder {
    width: 150px;
    height: 66px;
}

.start {
    background: linear-gradient(90deg, #0d7f9c 0%, #7e878e 179.25%);
}

.progress {
    background: linear-gradient(90deg, #9c1717bf 0%, #e06876 100%); 
}

.done {
    background: linear-gradient(90deg, #1a6d0c 0%, #8fd3f4 179.25%);
}

.hold {
    border: 5px solid rgba(255, 123, 0, 0.416);
}

.hide {
    display: none;
}

.hovereed {
    border-top: 3px solid rgba(243, 249, 174, 0.566);
}